version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: CIR-postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  api:
    image: ${BACKEND_IMAGE}
    container_name: CIR-api
    env_file:
      - .env
    ports:
      - "4000:3000"
    depends_on:
      - postgres
    restart: always

volumes:
  pgdata:
